/*Styling for Callie's website*/

*{
  box-sizing: border-box;
  margin:0;
  padding:0;
}

html{
  height:100%;
}

body {
    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    font-weight: 300;
    height: 100%;
  }

  .topnav {
    position: sticky;
    top:0;
    z-index:1;
    display:flex;
    background-color: rgb(255, 255, 255);
    justify-content: space-between;
    align-items: center;
  }

  .menu a {
    color: #000000;
    text-align: center;
    padding: 10px 15px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    text-decoration: underline;
  }

  .page-title {
    color: #ffffff;
    font-size: 75px;
    letter-spacing: .15em; 
    /*padding-bottom: 20px; */
    position: relative; 
    width:100%;
    bottom:-70%;
    text-align: center;
  }

  .bg{
    height:50%;
    min-height: 200px;
    filter: brightness(1.1);
    filter: grayscale(20%);
    background-position: top; 
    background-repeat: no-repeat;
    background-size: cover ;
    margin:0;
    background-attachment: fixed;
    bottom:0;
    position: static;
    z-index: -9999;
    padding: 0;    
  }

  #bg-1 {
    background-image: url("../images/fitz_2.jpeg"); 
  }
  .caption{
    position:absolute;
    color:white;
    bottom:0;
    right:0;
    font-size:15px;
    font-weight: bold;
    margin-right:1%;
    margin-bottom: 1%;
  }
  .content{
    background: white;
    height:auto;
    width: 100%; 
    display:flex;
    flex-direction: row;
    flex-wrap:nowrap;
  }
  #prof_pic_container{
    float:left;
    height:inherit;
  }
  #prof_pic{
    margin-top:85px;
    margin-bottom:85px;
    margin-left:70px;
  }

  #abt_me{
    float:right;
    text-align: left;
    height:inherit;
    margin-top:70px;
    margin-bottom: 70px;
    margin-left:70px;
    margin-right:70px;
    font-weight: bold;
    font-size: 20px;
  }
  .headings {
    font-size: 50px;
    color: rgb(15, 161, 64);
    font-weight: bold;
  }

  #bg-2 {
    background-image: url("../images/NZ_riv.jpeg"); 
  }
  .footer{
    border-top: 1px solid #000000;
    text-align: center;
  }

  .socials a {
    display: inline-block;
  }

  #bg-4 {
    background-image: url("../images/au_blue_hills.jpeg"); 
  }

  #bg-3 {
    background-image: url("../images/au_beach.jpg"); 
  }

  .center-heading{
    padding-top: 50px;
    text-align: center;
    color: rgb(122, 177, 122);
    font-size: 40px;
    font-weight: bold;
  }

  .fa {
    padding: 15px;
    width: 50px;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    margin: 15px;
    color: white;
  }

  .fa-linkedin {
    background: #007bb5;
  }
  
  .fa-github {
    background: black;
  }

 #tl-title{
   text-align: center;
   padding:4%
 }

  .timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  /* The actual timeline (the vertical ruler) */
  .timeline::after {
    content: '';
    position: absolute;
    width: 4px;
    background-color:darkgray;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
    position: absolute;
    z-index: .9;
  }
  
  /* Container around content */
  .container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
  }
  
  /* The circles on the timeline */
  .container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: darkgray;
    border: 4px solid darkgray;
    top: 15px;
    border-radius: 50%;
  }
  
  /* Place the container to the left */
  .left {
    left: 0;
  }
  
  /* Place the container to the right */
  .right {
    left: 50%;
  }
  
  /* Add arrows to the left container (pointing right) */
  .left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: .99;
    right: 30px;
    border: medium solid rgb(3, 133, 194);
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent rgb(3, 133, 194);
  }
  
  /* Add arrows to the right container (pointing left) */
  .right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: .99;
    left: 30px;
    border: medium solid rgb(32, 210, 255);
    border-width: 10px 10px 10px 0;
    border-color: transparent rgb(32, 210, 255) transparent transparent;
  }
  
  /* Fix the circle for containers on the right side */
  .right::after {
    left: -16px;
  }
  
  /* The actual content */
  .tl-content {
    padding: 20px 30px;
    background-color: white;
    border: solid;
    /*border-color: darkblue;*/
    border-image: linear-gradient(to right, rgb(32, 210, 255) 0%, rgb(3, 133, 194) 100%);
    border-image-slice: 1;
    position: relative;
    border-radius: 6px;
  }
  
  /* Media queries - Responsive timeline on screens less than 600px wide */
  @media screen and (max-width: 600px) {
  /* Place the timelime to the left */
    .timeline::after {
      left: 31px;
    }
  
  /* Full-width containers */
    .container {
      width: 100%;
      padding-left: 70px;
      padding-right: 25px;
    }
  
  /* Make sure that all arrows are pointing leftwards */
    .container::before {
      left: 60px;
      border: medium solid white;
      border-width: 10px 10px 10px 0;
      border-color: transparent white transparent transparent;
    }
  
  /* Make sure all circles are at the same spot */
    .left::after, .right::after {
      left: 15px;
    }
  
  /* Make all right containers behave like the left ones */
    .right {
      left: 0%;
    }
  }


  .tl-header{
    top:0;
    z-index:1;
    display:flex;
    justify-content: space-between;
    align-items: center;
    font-size: 150%;
  }